@tailwind base;
@tailwind components;

@font-face {
  font-family: "Billow";
  src: local("Billow") url("/assets/fonts/Billow.ttf") format("truetype");
}

@tailwind utilities;

/* * {
  border: 2px solid red;
} */
